[Unit]
Description=OAC Frontend Service
After=network.target

[Service]
Type=simple
EnvironmentFile=/home/server-di-test-maddaluno/oac-development.env
WorkingDirectory=/tmp
ExecStart=/bin/bash -c 'source ${NVM_SHELL} && oac_frontend'
Restart=always

[Install]
WantedBy=multi-user.target

