[Unit]
Description=OAC Gateway Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/percorso/assoluto/oac_gateway
ExecStart=/usr/bin/npm run dev
Restart=always
Environment=NODE_ENV=development

[Install]
WantedBy=multi-user.target

