[Unit]
Description=OAC Application Stack
Requires=oac_backend.service oac_register.service oac_gateway.service oac_frontend.service
After=network.target


